# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build outputs
/.next
/out
/dist

# Vercel
.vercel

# Environment variables
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
